<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>ANSYS</string>
        <key>ordering</key>
        <array>
            <string>013531CF-0451-41E4-A570-A9D92793A826</string>
        </array>
        <key>uuid</key>
        <string>94823924-1183-4061-98D1-4300C0C11960</string>
        <key>mainMenu</key>
        <dict>
            <key>items</key>
            <array>
                <string>2B821664-9AF2-429C-BE8F-133A35E49CBD</string>
                <string>D61169F4-F551-424A-9CAF-6126BF0DE101</string>
                <string>AC517A56-2AA1-4935-8C48-2DC1761B93F2</string>
                <string>------------------------------------</string>
                <string>9DA5C57D-9FBF-4ACB-8E2A-1F70EF093986</string>
                <string>EE488481-376E-49D7-B42F-B4CBFB8D4ED0</string>
                <string>04237180-B994-4C3C-9863-2CB5FA85F287</string>
                <string>7B02F4C5-61D4-41C7-94D6-4C4EDE195873</string>
                <string>5B47BB5F-FA1B-4061-8E51-B8760785A2E5</string>
                <string>3CAB8151-930C-4B21-9F48-6CDC73D7B5FD</string>
                <string>EE0ABBF3-96B5-4730-ACDD-24B1EDB30AFC</string>
            </array>
            <key>submenus</key>
            <dict>
                <key>3CAB8151-930C-4B21-9F48-6CDC73D7B5FD</key>
                <dict>
                    <key>items</key>
                    <array>
                        <string>F2D89FEA-B7A6-4425-BD11-0A3BA92C5AD3</string>
                        <string>FB550C95-8ECF-4304-9011-30198152D4CA</string>
                        <string>E59FFF64-8790-45DD-91E1-F370DE4995FC</string>
                        <string>81BC6DBE-7D14-4254-B7BF-143EEB11241A</string>
                        <string>6E97A734-31DC-4184-83D7-7D164AA7E9C2</string>
                        <string>54708668-D8DE-4792-8859-624418209610</string>
                        <string>BF0058B0-7840-4786-8068-172D18831D93</string>
                        <string>B37D40B9-A2B6-4C5A-BC08-666A017F62BC</string>
                        <string>D2132DEA-D3FD-49AB-B2F4-ECE9C6067CB4</string>
                        <string>17AF9A3A-DCC8-403C-90C6-3AE60B2B336A</string>
                        <string>BC145C6D-C869-428A-9183-A17030494380</string>
                        <string>1E8D1FF3-D666-4F88-AF64-0C814C897876</string>
                        <string>4222D328-CE3D-46CE-9063-C75B723A63CD</string>
                        <string>754CEEA6-9BBA-452E-B5ED-35B1702CA327</string>
                        <string>E3954B12-C30E-499F-8738-1DBD37872A16</string>
                        <string>4B6D7333-2F4C-4CBD-A5A7-A10028DA42C1</string>
                        <string>CD767729-0D45-42E2-B46A-F51DE3FACE2A</string>
                        <string>5E34BFB9-7FA1-4253-864C-FD8AF4D1AEB9</string>
                        <string>0E7504F1-8B0E-4C16-AB74-74B1BD705551</string>
                        <string>E181855F-3C15-41AE-9CDE-EB1F62656D93</string>
                        <string>0E5C91BC-2550-483F-AC7B-E2A17689B882</string>
                        <string>C13DDA3E-EA03-4EF0-80F7-C4D4277A9A3A</string>
                        <string>DB066D36-3F22-479B-B925-5C4A805A61F6</string>
                        <string>DB066D36-3F22-479B-B925-5C4A805A61F6</string>
                        <string>F69D9387-3421-4DDD-B77C-BEF9216268A8</string>
                    </array>
                    <key>name</key>
                    <string>APDL</string>
                </dict>
                <key>EE0ABBF3-96B5-4730-ACDD-24B1EDB30AFC</key>
                <dict>
                    <key>items</key>
                    <array>
                        <string>08E70A61-6620-46F6-9343-244B47B3704C</string>
                        <string>CD45F51A-951E-4077-AD9C-77965F8970F2</string>
                    </array>
                    <key>name</key>
                    <string>Materials</string>
                </dict>
                <key>5B47BB5F-FA1B-4061-8E51-B8760785A2E5</key>
                <dict>
                    <key>items</key>
                    <array>
                        <string>FD29881A-068E-4D33-BF9A-E75A0019A75B</string>
                        <string>E9C17EF6-196B-4E4C-B46E-CD4758A5B45A</string>
                        <string>F554B0E9-DB09-43CE-A463-CBCF712CDC06</string>
                        <string>3A68CD14-25D2-4BB2-AD0C-28F8DCF8891C</string>
                    </array>
                    <key>name</key>
                    <string>formating</string>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
